

{% extends "base.html.twig" %}

{% block title %} Modifier ce  Contact {% endblock %}

{% block main %}
<h1 class="text-center my-3 display-5"> Modifier ce Contact</h1>

<div class="container my-3">
    <div class="row">
        <div class="bg-white col-md-6 mx-auto shadow p-4" >
            {{ form_start(form) }}
                <div class="mb-3">
                    <label for="contact_form_firstName"> Prénom </label>
                    <div class="text-danger" >{{form_errors(form.firstName)}} </div>
                    {{form_widget(form.firstName, {'attr': {'class':'form-control'}})}}
                </div>
                <div class="mb-3">
                    <label for="contact_form_lastName"> Nom </label>
                    <div class="text-danger" >{{form_errors(form.lastName)}} </div>
                    {{form_widget(form.lastName, {'attr': {'class':'form-control'}})}}
                </div>
                <div class="mb-3">
                    <label for="contact_form_email"> Email </label>
                    <div class="text-danger" >{{form_errors(form.email)}} </div>
                    {{form_widget(form.email, {'attr': {'class':'form-control'}})}}
                </div>
                <div class="mb-3">
                    <label for="contact_form_phone"> Numéro de téléphone </label>
                    <div class="text-danger" >{{form_errors(form.phone)}} </div>
                    {{form_widget(form.phone, {'attr': {'class':'form-control'}})}}
                </div>
                <div class="mb-3">
                    <label for="contact_form_comment"> Commentaire </label>
                    <div class="text-danger" >{{form_errors(form.comment)}} </div>
                    {{form_widget(form.comment, {'attr': {'class':'form-control'}})}}
                </div>

                <input formnovalidate type="submit" class="btn btn-primary">

            {{ form_end(form) }}
        </div>
    </div>
</div>


{% endblock %}